[Unit]
Description=DRAWS™ Manager - A web application to manage the DRAW™ HAT configuration.
Documentation=https://github.com/nwdigitalradio/draws-manager
After=network.target
ConditionPathExists=/proc/asound/udrc

[Service]
WorkingDirectory=/usr/local/var/draws-manager/webapp
EnvironmentFile=/etc/default/draws-manager
Type=simple
User=root
ExecStart=/usr/bin/npm start
StandardOutput=syslog
StandardError=syslog
Restart=on-success

[Install]
WantedBy=multi-user.target
