[Unit]
Description=DRAWS™ Manager - A web application to manage the DRAW™ HAT configuration.
Documentation=https://github.com/nwdigitalradio/draws-manager
After=network.target

[Service]
WorkingDirectory=/usr/local/var/draws-manager/webapp
Environment=PORT=80
Type=simple
User=root
ExecStart=/usr/bin/npm start
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
