<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
