
body { 
	display: grid;
	grid-template-areas: 
	"header header"
	"nav main"
	"footer footer";
	grid-template-rows: auto 1fr auto;  
	grid-template-columns: 15% 1fr;
	height: 100vh; 
	margin: 0;
}  
#pageHeader {
	grid-area: header;
}
#pageFooter {
	grid-area: footer;
}
#mainArticle { 
	grid-area: main;      
	border-right: black solid 5px;
	border-left: black solid 5px;
}
#mainNav { 
	grid-area: nav; 
	text-align: center;
	border-right: black solid 5px;
	border-left: black solid 5px;
}
#mainNav button {
	width: 100%;
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
}

footer {
	position: relative;
	bottom: 0;
}
	
footer,header {
	background: black;
	color: white;
/*	padding: .5em 1em .5em 1em; */
	text-align: center;
	width: 100%;
}

#inner-grid {
	display: grid;
	grid-template-areas:
		"top top"
		"left right"
		"common common";
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
	/* grid-row-gap: 5; */
}

left, right, common {
/*	border: black 1px solid; */
}

top {
	background: white;
	color: black;
/*	padding: 0.251em; */
}

top h2 {
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

#topMain {
	grid-area: top;
}
#leftMain {
	grid-area: left;
}
#rightMain {
	grid-area: right;
}
#commonMain {
	grid-area: common;
}
.sectionhead {
	text-align: center;
       	font-weight: bold;
	vertical-align: middle;
	padding:0 0.125em 0 0.125em;
}

.sectionhead img {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
}

div.control {
	background: darkred;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
	display: block;
}

div.advanced {
	background: darkred;
	color: white;
	padding: 0.5em 1em 0.5em 1em;
}

.advanced {
	display: none;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
	body { 
		grid-template-areas: 
		"header"
		"main"
		"nav"
		"footer";
		grid-template-rows: auto 1fr 1fr auto;  
		grid-template-columns: 1fr;
	}
}
