
body { 
  display: grid;
  grid-template-areas: 
    "header header ads"
    "nav main main"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }  

.inner-grid {
  float: left;
  min-width: 49%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.inner-grid > div {
  background: darkred;
  color: white;
  padding: 10px;
}
    
header, footer, main, nav, div {
  padding: 1.2em;
  background: lightgrey;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: main;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 

footer {
  background: black;
  color: white;
  }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "main"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
