<!-- 12	'ADC Level Volume'-->
<select id="{{selectid}}" name="{{selectid}}" onchange="sset(12)">
<!-- -12.00 0.50-->
	<option value="0">-12.00</option>
	<option value="1">-11.50</option>
	<option value="2">-11.00</option>
	<option value="3">-10.50</option>
	<option value="4">-10.00</option>
	<option value="5">-9.50</option>
	<option value="6">-9.00</option>
	<option value="7">-8.50</option>
	<option value="8">-8.00</option>
	<option value="9">-7.50</option>
	<option value="10">-7.00</option>
	<option value="11">-6.50</option>
	<option value="12">-6.00</option>
	<option value="13">-5.50</option>
	<option value="14">-5.00</option>
	<option value="15">-4.50</option>
	<option value="16">-4.00</option>
	<option value="17">-3.50</option>
	<option value="18">-3.00</option>
	<option value="19">-2.50</option>
	<option value="20">-2.00</option>
	<option value="21">-1.50</option>
	<option value="22">-1.00</option>
	<option value="23">-0.50</option>
	<option value="24">0.00</option>
	<option value="25">0.50</option>
	<option value="26">1.00</option>
	<option value="27">1.50</option>
	<option value="28">2.00</option>
	<option value="29">2.50</option>
	<option value="30">3.00</option>
	<option value="31">3.50</option>
	<option value="32">4.00</option>
	<option value="33">4.50</option>
	<option value="34">5.00</option>
	<option value="35">5.50</option>
	<option value="36">6.00</option>
	<option value="37">6.50</option>
	<option value="38">7.00</option>
	<option value="39">7.50</option>
	<option value="40">8.00</option>
	<option value="41">8.50</option>
	<option value="42">9.00</option>
	<option value="43">9.50</option>
	<option value="44">10.00</option>
	<option value="45">10.50</option>
	<option value="46">11.00</option>
	<option value="47">11.50</option>
	<option value="48">12.00</option>
	<option value="49">12.50</option>
	<option value="50">13.00</option>
	<option value="51">13.50</option>
	<option value="52">14.00</option>
	<option value="53">14.50</option>
	<option value="54">15.00</option>
	<option value="55">15.50</option>
	<option value="56">16.00</option>
	<option value="57">16.50</option>
	<option value="58">17.00</option>
	<option value="59">17.50</option>
	<option value="60">18.00</option>
	<option value="61">18.50</option>
	<option value="62">19.00</option>
	<option value="63">19.50</option>
	<option value="64">20.00</option>
</select>
<label for="{{selectid}}">db</label>
