<select id="{{selectid}}" name="selectid}}" onchange="DACset()">
	<option value="af" title="Pin 5">AF</option>
	<option value="disc" title="Pin 4">DISC</option>
	<option value="off" title="Pin 5">OFF</option>
</select>
