<span class="calc">
<h3>TX Setting Calculator</h3>
<p>Obtain the peak to peak (PTP) input voltage to your radio's input connector.  Usually this is for the accessory connector on a modern transceiver. This value is typically documented in the transmitter specifications. Enter the value in <b>millivolts</b>.</p>
<p>This calculator will provide the values to drive the analog (low output) and digital (pcm) stages of the CODEC chip to deliver the proper input voltage.</p>
<div>
Peak to peak voltage (in millivolts)&nbsp;<input type="text" id="calc-mv" onchange="calcTX(this.value)"></input> mv&nbsp;<button>Enter</button><br/>
<span id="calc-aout"></span><br/>
<span id="calc-digout"></span><br/>
<span id="calc-totdb"></span>
</span>
</div>
