<span class="calc">
<h3>TX Setting Calculator</h3>
<p>Determine the optimum peak to peak (PTP) input voltage for your radio. You will typically find the value documented in the transmitter specification. Enter the voltage in <b>millivolts</b>.</p> 
<p>This calculator will provide the values to drive the analog (LO) and digital (PCM) stages of the CODEC chip to deliver the proper input voltage.</p>
<div>
Peak to peak voltage (in millivolts)&nbsp;<input type="text" id="calc-mv" onchange="calcTX(this.value)"></input> mv&nbsp;<button>Enter</button><br/>
<span id="calc-aout"></span><br/>
<span id="calc-digout"></span><br/>
<span id="calc-totdb"></span>
</span>
</div>
