<footer id="pageFooter">
	<div>
	<span id="product">{{stats.hat.product}}</span> | 
	<span id="sensors"> </span>
	</div>
	<div>
	<span id="model">{{stats.model}}</span> |
	CPU Temp: <span id="cputemp">{{stats.cputemp.f}} &deg; F ({{stats.cputemp.c}} &deg; C)</span> &bull;
	Uptime: <span id="uptime">(Collecting)</span> &bull;
	Load AVG: <span id="loadavg">(Collecting)</span>
	</div>
</footer>
