<nav id="mainNav">
	<button class="adv-button" onclick="toggleByClass('advanced')">Toggle Advanced Controls</button>
	<button class="adv-button" onclick="toggleByClass('calc')">Toggle TX Calculator</button>
	<button onclick="execute(4)">Save Audio Settings</button>
	<button onclick="execute(1)">GPSD Restart</button>
	<button onclick="execute(2)">GPSD Stop</button>
	<button onclick="execute(3)">Sync System Clock</button>
	<button onclick="window.location.href='/application-support'">Application Help</button>
	<button onclick="execute(5)">Update DRAWS™ Manager</button>
</nav>
