<!-- 1	'PCM Playback Volume'-->
<select id="{{selectid}}" name="{{selectid}}" onchange="sset(1)">
<!-- -63.50 0.50-->
	<option value="0">-63.50</option>
	<option value="1">-63.00</option>
	<option value="2">-62.50</option>
	<option value="3">-62.00</option>
	<option value="4">-61.50</option>
	<option value="5">-61.00</option>
	<option value="6">-60.50</option>
	<option value="7">-60.00</option>
	<option value="8">-59.50</option>
	<option value="9">-59.00</option>
	<option value="10">-58.50</option>
	<option value="11">-58.00</option>
	<option value="12">-57.50</option>
	<option value="13">-57.00</option>
	<option value="14">-56.50</option>
	<option value="15">-56.00</option>
	<option value="16">-55.50</option>
	<option value="17">-55.00</option>
	<option value="18">-54.50</option>
	<option value="19">-54.00</option>
	<option value="20">-53.50</option>
	<option value="21">-53.00</option>
	<option value="22">-52.50</option>
	<option value="23">-52.00</option>
	<option value="24">-51.50</option>
	<option value="25">-51.00</option>
	<option value="26">-50.50</option>
	<option value="27">-50.00</option>
	<option value="28">-49.50</option>
	<option value="29">-49.00</option>
	<option value="30">-48.50</option>
	<option value="31">-48.00</option>
	<option value="32">-47.50</option>
	<option value="33">-47.00</option>
	<option value="34">-46.50</option>
	<option value="35">-46.00</option>
	<option value="36">-45.50</option>
	<option value="37">-45.00</option>
	<option value="38">-44.50</option>
	<option value="39">-44.00</option>
	<option value="40">-43.50</option>
	<option value="41">-43.00</option>
	<option value="42">-42.50</option>
	<option value="43">-42.00</option>
	<option value="44">-41.50</option>
	<option value="45">-41.00</option>
	<option value="46">-40.50</option>
	<option value="47">-40.00</option>
	<option value="48">-39.50</option>
	<option value="49">-39.00</option>
	<option value="50">-38.50</option>
	<option value="51">-38.00</option>
	<option value="52">-37.50</option>
	<option value="53">-37.00</option>
	<option value="54">-36.50</option>
	<option value="55">-36.00</option>
	<option value="56">-35.50</option>
	<option value="57">-35.00</option>
	<option value="58">-34.50</option>
	<option value="59">-34.00</option>
	<option value="60">-33.50</option>
	<option value="61">-33.00</option>
	<option value="62">-32.50</option>
	<option value="63">-32.00</option>
	<option value="64">-31.50</option>
	<option value="65">-31.00</option>
	<option value="66">-30.50</option>
	<option value="67">-30.00</option>
	<option value="68">-29.50</option>
	<option value="69">-29.00</option>
	<option value="70">-28.50</option>
	<option value="71">-28.00</option>
	<option value="72">-27.50</option>
	<option value="73">-27.00</option>
	<option value="74">-26.50</option>
	<option value="75">-26.00</option>
	<option value="76">-25.50</option>
	<option value="77">-25.00</option>
	<option value="78">-24.50</option>
	<option value="79">-24.00</option>
	<option value="80">-23.50</option>
	<option value="81">-23.00</option>
	<option value="82">-22.50</option>
	<option value="83">-22.00</option>
	<option value="84">-21.50</option>
	<option value="85">-21.00</option>
	<option value="86">-20.50</option>
	<option value="87">-20.00</option>
	<option value="88">-19.50</option>
	<option value="89">-19.00</option>
	<option value="90">-18.50</option>
	<option value="91">-18.00</option>
	<option value="92">-17.50</option>
	<option value="93">-17.00</option>
	<option value="94">-16.50</option>
	<option value="95">-16.00</option>
	<option value="96">-15.50</option>
	<option value="97">-15.00</option>
	<option value="98">-14.50</option>
	<option value="99">-14.00</option>
	<option value="100">-13.50</option>
	<option value="101">-13.00</option>
	<option value="102">-12.50</option>
	<option value="103">-12.00</option>
	<option value="104">-11.50</option>
	<option value="105">-11.00</option>
	<option value="106">-10.50</option>
	<option value="107">-10.00</option>
	<option value="108">-9.50</option>
	<option value="109">-9.00</option>
	<option value="110">-8.50</option>
	<option value="111">-8.00</option>
	<option value="112">-7.50</option>
	<option value="113">-7.00</option>
	<option value="114">-6.50</option>
	<option value="115">-6.00</option>
	<option value="116">-5.50</option>
	<option value="117">-5.00</option>
	<option value="118">-4.50</option>
	<option value="119">-4.00</option>
	<option value="120">-3.50</option>
	<option value="121">-3.00</option>
	<option value="122">-2.50</option>
	<option value="123">-2.00</option>
	<option value="124">-1.50</option>
	<option value="125">-1.00</option>
	<option value="126">-0.50</option>
	<option value="127">0.00</option>
	<option value="128">0.50</option>
	<option value="129">1.00</option>
	<option value="130">1.50</option>
	<option value="131">2.00</option>
	<option value="132">2.50</option>
	<option value="133">3.00</option>
	<option value="134">3.50</option>
	<option value="135">4.00</option>
	<option value="136">4.50</option>
	<option value="137">5.00</option>
	<option value="138">5.50</option>
	<option value="139">6.00</option>
	<option value="140">6.50</option>
	<option value="141">7.00</option>
	<option value="142">7.50</option>
	<option value="143">8.00</option>
	<option value="144">8.50</option>
	<option value="145">9.00</option>
	<option value="146">9.50</option>
	<option value="147">10.00</option>
	<option value="148">10.50</option>
	<option value="149">11.00</option>
	<option value="150">11.50</option>
	<option value="151">12.00</option>
	<option value="152">12.50</option>
	<option value="153">13.00</option>
	<option value="154">13.50</option>
	<option value="155">14.00</option>
	<option value="156">14.50</option>
	<option value="157">15.00</option>
	<option value="158">15.50</option>
	<option value="159">16.00</option>
	<option value="160">16.50</option>
	<option value="161">17.00</option>
	<option value="162">17.50</option>
	<option value="163">18.00</option>
	<option value="164">18.50</option>
	<option value="165">19.00</option>
	<option value="166">19.50</option>
	<option value="167">20.00</option>
	<option value="168">20.50</option>
	<option value="169">21.00</option>
	<option value="170">21.50</option>
	<option value="171">22.00</option>
	<option value="172">22.50</option>
	<option value="173">23.00</option>
	<option value="174">23.50</option>
	<option value="175">24.00</option>
</select>
<label for="{{selectid}}">db</label>
