<select id="{{selectid}}" name="{{selectid}}" onchange="sset({{#startsWith 'left' selectid}}2{{else}}3{{/startsWith}})">
	<option value="0">P3</option>
	<option value="1">P2</option>
	<option value="2">P1</option>
</select>
