<header id="pageHeader"><h1>{{title}}</h1></header>
<main id="mainArticle">
	<div id="inner-grid">
		<top id="topMain">
			{{>apolicy}}
		</top>
		<left id="leftMain">
		</left>
		<right id="rightMain">
		</right>
		<common id="commonMain">
			{{>apps}}
		</common>
	</div>
</main>
{{>appsnav}}
{{>footer}}
<script type="text/javascript" charset="UTF-8" src="/javascripts/draws.js"></script>
