<header id="pageHeader"><h1>{{title}}</h1></header>
<main id="mainArticle">
	<div id="inner-grid">
		<top id="topMain">
			{{>apolicy}}
		</top>
		<common id="commonMain">
			{{>apps}}
		</common>
	</div>
</main>
{{>appsnav}}
