<header id="pageHeader">{{title}}</header>
<main id="mainArticle" class="inner-grid">
<h2>CODEC Settings</h2><div><img src="/images/mini-din-6-socket.svg" /></div>
{{#each mixer}}
	<div class="inner-grid">
	<div>
	{{specs.name}}  [{{specs.numid}}]
	</div>
	<div>
	{{#compare params.type "===" "ENUMERATED"}} {{> enumerated }} {{/compare}}
	{{#compare params.type "===" "BOOLEAN"}} {{> boolean }} {{/compare}}
	{{#if dbSteps}} {{> dbList}} {{/if}}
	</div>
	</div>
{{/each}}
</main>
<nav id="mainNav">Navigation</nav>
<div id="siteAds">TBD</div>
<footer id="pageFooter">
	<span id="product"></span> /
	<span id="model"></span><br/>
	<span id="cputemp"></span> /
	<span id="uptime"></span> /
	<span id="loadavg"></span>
</footer>
<script>

function setElement(id,str) {
	var ele = document.getElementById(id);
	ele.innerHTML = str;
}

(function () {
	var socket = io();
	socket.on('systemstats', function(data) {
		if (data.model) setElement("model",data.model);
		if (data.hat.product) setElement("product",data.hat.product);
		if (data.cputemp) {
			var cput = "CPU Temp: ";
			cput += data.cputemp.f + "&deg; F (" + data.cputemp.c + "&deg; C)";
			setElement("cputemp",cput);
		}
		if (data.uptime) {
			var upstr = "Uptime:";
			if (data.uptime.days > 0) upstr = upstr + " " + data.uptime.days + " days";
			upstr += " " + data.uptime.hms + " (h:m:s)";
			setElement("uptime",upstr);
		}
		if (data.loadavg) {
			var la = "Load AVG: 1m:" + data.loadavg.one + " 5m:" + data.loadavg.five + " 15m:" + data.loadavg.fifteen;
			setElement("loadavg", la);
		}
	});
})();
</script>
