<header id="pageHeader">{{title}}</header>
<main id="mainArticle" class="inner-grid">
<h2>CODEC Settings</h2><div><img src="/images/mini-din-6-socket.svg" /></div>
{{#each mixer}}
	<div class="inner-grid">
	<div>
	{{specs.name}}  [{{specs.numid}}]
	</div>
	<div>
	{{#compare params.type "===" "ENUMERATED"}} {{> enumerated }} {{/compare}}
	{{#compare params.type "===" "BOOLEAN"}} {{> boolean }} {{/compare}}
	{{#if dbSteps}} {{> dbList}} {{/if}}
	</div>
	</div>
{{/each}}
</main>
<nav id="mainNav">Navigation</nav>
<div id="siteAds">TBD</div>
<footer id="pageFooter"><a target="nwdr" href="https://nwdigitalradio.com">NW Digital Radio</a></footer>
